esp32:
  board: esp32-s3-devkitc-1
  framework:
    type: arduino

i2c:
  id: bus_a
  sda: 5  # Adjust to your SDA pin
  scl: 6  # Adjust to your SCL pin
  scan: True  # Scans for I2C devices at startup
  # frequency: 20000.0 # thermocouple mcp9600 seems to require slower speeds
  frequency: 200000.0 # thermocouple mcp9600 seems to require slower speeds
  timeout: 300ms


status_led:
  pin:
    number: 21
    inverted: true
