discovery.file "example" {
	files = ["/tmp/sensors.json"]
	refresh_interval = "5m"
}

prometheus.scrape "default" {
	targets         = discovery.file.example.targets
	forward_to      = [prometheus.remote_write.metrics_hosted_prometheus.receiver]
	scrape_interval = "60s"
}

prometheus.remote_write "metrics_hosted_prometheus" {
	endpoint {
		url  = "https://prometheus-us-central1.grafana.net/api/prom/push"

		basic_auth {
			username = env("USERNAME")
			password = env("PASSWORD")
		}

		queue_config { }

		metadata_config { }
	}
}
